/.idea/aleksandr-dudko.iml
/Drones/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/Drones/.gradle/buildOutputCleanup/cache.properties
/Drones/.gradle/checksums/checksums.lock
/Drones/.gradle/7.0/dependencies-accessors/dependencies-accessors.lock
/.idea/modules/Drones.iml
/Drones/.gradle/6.7/executionHistory/executionHistory.bin
/Drones/.gradle/6.7/executionHistory/executionHistory.lock
/Drones/.gradle/6.7/fileHashes/fileHashes.bin
/Drones/.gradle/6.7/fileHashes/fileHashes.lock
/Drones/.gradle/7.0/fileHashes/fileHashes.lock
/Drones/.gradle/6.7/gc.properties
/Drones/.gradle/7.0/dependencies-accessors/gc.properties
/Drones/.gradle/7.0/gc.properties
/Drones/.gradle/configuration-cache/gc.properties
/Drones/.gradle/vcs-1/gc.properties
/.idea/gradle.xml
/.idea/jarRepositories.xml
/Drones/.gradle/6.7/fileChanges/last-build.bin
/Drones/.gradle/7.0/fileChanges/last-build.bin
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
